body {
  margin: 0;
  font-family:
    'Roboto',
    'Ubuntu',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: 'Ubunto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
