html {
    min-width: 550px;
    overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

pre {
    margin-left: 2em;
}

#parser-error {
    color: red;
    display: none;
}

/* For use with screen readers */
.sr-only {
    display: none;
}

/* Firefox only */
.only-firefox {
    display: none;
}

@-moz-document url-prefix('') {
    .only-firefox {
        display: block;
    }
}
