/* open-sans-latin-wght-normal */
@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

/* ubuntu-latin-400-normal */
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/ubuntu@latest/latin-400-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/ubuntu@latest/latin-400-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

body {
  font-family: 'Open Sans', Ubuntu, Roboto, Oxygen, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Ubuntu;
}

@import './color_schemes/rolod0x-light';

@media (min-width: 66.5rem) {
  .site-nav,
  .site-header,
  .site-footer {
    width: 15.5rem !important;
  }
}

a {
  color: $primary-main;
}

a.site-title {
  display: block;
}

.site-logo {
  color: #111111;
  font-family: Ubuntu;
  font-weight: bold;
}

.primary-main {
  color: $primary-main;
}

.ribbon {
  /* positioning */
  position: fixed;
  padding: 5px 24px;
  /* width: 128px; */
  /* top right of the page */
  top: 36px;
  right: -36px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  /* effects with some shadow */
  /*
  box-shadow: 0 0 0 3px #EBE5D8, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0 #555555, 0 0 5px rgba(0, 0, 0, 0.3);
*/
  /* ribbon effects */
  border: 2px dotted #d2be93;
  /* looks */
  background-color: #ebe5d8;
  color: #555555;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  letter-spacing: 0.5px;
}
